<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.webServer>
  <validation validateIntegratedModeConfiguration="false" />
  <handlers>
   <remove name="ChartImageHandler" />
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </handlers>
 </system.webServer>
 <connectionStrings>
		<add name="ConnectionString" connectionString="Server=SAMPLE;Database=db2;UID=db2admin;PWD=Bigboa!131291;" providerName="System.Data.OleDb"/>
		<add name="ConnectionString2" connectionString="Provider=IBMDADB2.DB2COPY1;Data Source=DB2;Persist Security Info=True;OLE DB Services=-1;Password=Bigboa!131291;User ID=db2admin" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<system.web>
		<httpHandlers>
   <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
  </httpHandlers>
  <pages>
   <controls>
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
     assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   </controls>
  </pages>
  <compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<httpRuntime executionTimeout="20" maxRequestLength="106496"/>
	</system.web>
	<appSettings>
  <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/"
   value="7750;True;5584;1;-8588014921322302533" />
  <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
  <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
 </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		</assemblyBinding>
	</runtime>
</configuration>
